
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

img{
    width:100%;
    height:90vh;
}
.btn{
    width: 100%;
    position: absolute;
    bottom: 25vh;
    display: flex;
    justify-content: center;
}

button{
padding: 20px 50px;
border: 2px solid white;
border-radius: 10px;
background: transparent;
color: white;
font-size: 2rem;
font-family: 'Langar', cursive;
}

button:hover{
    /* background: radial-gradient(#f7e893,#ffd700); */
    background: radial-gradient(#29323c,black);
    color: white;
  
}