
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');


.nav-base{
    width: 100%;
    background: black;
    min-height: 10vh;
}

.nav{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    color: #fff;
    font-family: 'Langar', cursive;
    font-size: 2rem;
}

.nav-items{
    display: flex;
    list-style: none;
    color: #fff;
    width: 20%;
    justify-content: space-between;
}



.nav-item:hover{
    cursor: pointer;
    color: rgb(167, 165, 165);
}

